.App {
  text-align: center;
  background-color: black;
}

img {
  /* height: 100vw; */
  width: 100%;
  margin: -1px;
  object-fit: contain;
}

h1 {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  color: black
}

h1#one {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1#two {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1#three {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
